:root {
    --first-color: #0061ff;
    --second-color: #add8e6;
    --third-color: #8f00ff;
    --fourth-color: white;
    --fiveth-color: black;
    --sixth-color: #4a4a4a;
}

.color-bg {
    background-color: var(--first-color) ;
}
.color-bg-2 {
    background-color: var(--third-color);
}
.color-bg-3 {
    background-color: var(--fourth-color);
}
.color-card {
    background-color: var(--second-color);
}
.color-card-2 {
    background-color: var(--third-color);
}
.color-card-3 {
    background-color: var(--fourth-color);
}
.color-text {
    color: var(--first-color);
}
.color-text-2 {
    color: var(--fourth-color);
}
.color-text-3 {
    color: var(--sixth-color);
}