body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.container-2 {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}
.container-footer-top {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.container-footer-bottom {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
/*HEADER*/

.flex-contenent {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.flex-contenent .nav-container {
    display: none;
}
.flex-contenent .nav-container ul {
    display: flex;
    list-style: none;
}
.flex-contenent .nav-container ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/*MAIN*/

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
}
.cards-2 {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc(100% - 1.25rem);
    margin: 0 0.625rem 1.25rem;
}
.card-2 {
    width: calc(100% - 1.25rem);
    margin: 0 0.625rem 1.25rem;
    background-color: white;
    padding: 1.875rem;
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}
.card > .color-card {
    padding: .625rem;
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    min-height: 100%;
}
.color-card-2 > .card-container > div {
    padding: 0 1.25rem;
}
.margin-bg-2 {
    margin: 1.25rem 0;
}
.border-container {
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}
.text {
    text-align: center;
    padding: .625rem;
}
.card-left-testimony {
    padding: 1.25rem;
}
.image > div{
    position: absolute;
    top: 0;
    right: 0;
}
.card-left-testimony img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    max-width: 12.5rem;
}
.image {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    position: relative;
}
.card-right-testimony {
    padding: .625rem;
}
.card-right-testimony > p {
    color: white;
    line-height: 1.875rem;
    font-size: 1.25rem;
}
.card-right-testimony > h2 {
    color: white;
    padding: 1.25rem 0;
}
#color-purple {
    color: var(--third-color);
    font-size: 3.125rem;
}
#color-purple-2 {
    color: var(--third-color);
    font-size: 1.25rem;
    padding: 2.5rem 0;
}
#lorem{
    color: black;
    line-height: 2.8125rem;
}
#lorem-2{
    color: black;
    line-height: 2.8125rem;
    padding: 2.5rem 0;
}
.cards-2 .card-2 h2 {
    color: var(--third-color);
    font-size: 3.125rem;
}
.cards-2 .card-2 h3 {
    color: var(--third-color);
    padding: 1.25rem 0;
}
.cards-2 .card-2 p {
    line-height: 1.875rem;
    font-size: 1.125rem;
    color: var(--sixth-color);
    padding-bottom: 1.875rem;
}
.cards-2 .card-2 a {
    background-color: var(--third-color);
}
/*
FOOTER
*/
.padding-footer {
    padding: 2.5rem 1.25rem;
}
.padding-footer h2{
    margin: 1.875rem 0;
}
.padding-footer h4{
    margin-bottom: 1.25rem;
}
.padding-footer div a{
    margin: 1.875rem 0;
    display: inline-block;
}
.container-footer-bottom p {
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    text-align: center;
}
div.text-center.padding-footer h4 {
    color: white;
    font-size: 1.25rem;
}
div.text-center.padding-footer h3 {
    color: white;
    font-size: 2.5rem;
}
div.text-center.padding-footer h2 {
    color: var(--seventh-color);
    font-size: 5rem;
}
div.text-center.padding-footer p {
    color: white;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
span > a{
    color: white;
}
span > i {
    font-size: .5rem;
    vertical-align: middle;
}
.container-footer-bottom > p {
    font-size: 1.25rem;
}
.container-footer-bottom a {
    color: var(--third-color);
}