@import "reset.css";
@import "general.css";
@import "colors.css";

.container {
    padding: 0 20px;
}
main section {
    padding: 2.5rem 0;
}
.card-left {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

.color-bg-3 {
    margin: 0 1.25rem;
    padding: 1.25rem;
    text-align: center;
}














/*
RESPONSIVE
*/

/*TABLET DA 768PX IN POI*/
@media screen and (min-width:768px) {
    
    /*HEADER*/
 
  
    /*MAIN*/
    .card {
        width: calc((100% / 3) - 1.25rem);
    }
    .card:first-child {
        width: calc(((100% / 3) *2 ) - 1.25rem);
    }
    .card-testimony {
        display: flex;
    }
    .card-left-testimony {
        width: 30%;
    }
    .card-right-testimony {
        width: 70%;
    }
    
}

/*PC DA 922PX IN POI*/
@media screen and (min-width:992px) {
    
    /*HEADER*/

    .flex-contenent .nav-container {
        display: block;
    }
    .flex-contenent .hamburger-container {
        display: none;
    }

    /*MAIN*/

    .card-container {
        display: flex;
    }
    .card-container > div {
        width: 50%;
    }
    .card-container-2 {
        display: flex;
    }
    .card-container-2 > div {
        width: 50%;
    }

}
