@import "reset.css";
@import "general.css";
@import "colors.css";

.container {
    padding: 0 20px;
}
main section {
    padding: 2.5rem 0;
}
.card-left {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
}
.color-bg-2 .container-2 .card-container-2 .card-left h2 {
    color: white;
    padding: 1.875rem 0;
}
.color-bg-2 .container-2 .card-container-2 .card-left p {
    color: white;
    line-height: 1.875rem;
}

.margin-center {
    margin: 0 1.25rem;
    padding: 1.25rem 3.25rem;
}
.text-center {
    text-align: center;
}
.logo-container > img {
    padding-top: .625rem;
}
.first-card-left {
    line-height: 1.875rem;
}
.first-card-left > h2 {
    color: var(--first-color);
}
.first-card-left > p {
    padding: 1.25rem 0;
    color: var(--sixth-color);
}
.first-card-right > img{
    width: 100%;
    padding-top: 3.75rem;
    margin: -1.25rem 0;
}
.color-card > h2 {
    color: var(--first-color);
    text-align: center;
    padding: 1.25rem 0;
}
.color-card:last-child {
    color: var(--sixth-color);
    line-height: 1.875rem;
}
.card-right {
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}
.card-left > img {
    width: 100%;
}
.card-right > img {
    width: 100%;
}
.card-right > h2 {
    padding: 1.25rem 0;
}
.card-right > p {
    line-height: 1.875rem;
    font-style: italic;
}
.text > h2 {
    padding: 1.25rem 0;
    color: var(--third-color);
    font-size: 2.5rem;
}
.text > p {
    font-size: 1.5625rem;
}
.container > h2 {
    color: white;
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 1.875rem;
}
/*
LINK A FORMA DI BOTTONI
*/
#my-buttons-link > a {
    color: black;
    background-color: white;
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}
.my-buttons-link-2 {
    color: white;
    background-color: var(--first-color);
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    text-decoration: none;
    padding: .625rem 2.5rem;
    font-weight: bold;
    letter-spacing: .1875rem;
}
.my-buttons-link-3 {
    background-color: var(--third-color);
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 1.563rem 1.875rem;
    margin-top: 1.25rem;
}
.my-buttons-link-4 {
    color: white;
    background-color: var(--third-color);
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    text-decoration: none;
    padding: .625rem 2.5rem;
    font-size: 1.25rem;
    display: inline-block;
}













/*
RESPONSIVE
*/

/*TABLET DA 768PX IN POI*/
@media screen and (min-width:768px) {
    
    /*HEADER*/
 
  
    /*MAIN*/
    .card {
        width: calc((100% / 3) - 1.25rem);
    }
    .card:first-child{
        width: calc(((100% / 3) *2 ) - 1.25rem);
    }
    .card-testimony {
        display: flex;
    }
    .card-left-testimony {
        width: 30%;
    }
    .card-right-testimony {
        width: 70%;
        text-align: left;
    }
    .card-2 {
        width: calc((100% / 2) - 1.25rem)
    }
    .card-right-testimony > p {
        padding-top: 1.875rem;
        padding-right: 1.875rem;
    }
}

/*PC DA 922PX IN POI*/
@media screen and (min-width:992px) {
    
    /*HEADER*/

    .flex-contenent .nav-container {
        display: block;
        padding-top: 0.625rem;
    }
    .flex-contenent .hamburger-container {
        display: none;
    }

    /*MAIN*/

    .card-container {
        display: flex;
    }
    .card-container > div {
        width: 50%;
    }
    .card-container-2 {
        display: flex;
        align-items: flex-end;
    }
    .card-left {
        width: 65%;
    }
    .card-right {
        width: 35%;
    }
    .card-2 {
        width: calc((100% / 3) - 1.25rem)
    }
}

